## Import the Libraries and Modules

In [74]:
import os
import sys

In [75]:
module_path = os.path.abspath(os.path.join("../utils"))
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path)

/home/cram/dev/using-cognite-python-sdk/utils

In [13]:
import auth as cauth

## Create the Cognite Client

In [14]:
c = cauth.create_cognite_client(method="client-secret")

/home/cram/dev/using-cognite-python-sdk/.venv/lib/python3.8/site-packages/cognite/client/_cognite_client.py:85: UserWarning: You are using version 2.56.0 of the SDK, however version 2.56.1 is available. Upgrade or set the environment variable 'COGNITE_DISABLE_PYPI_VERSION_CHECK' to suppress this warning.
  self._config = ClientConfig(

## Create various resource types

Create timeseries, datasets, labels, events etc.

**Code Pattern**

`client.<cdf_resource_type>.create()`

Dataset

In [15]:
from cognite.client.data_classes import DataSet
data_sets = [DataSet(name="1st level",external_id="first_level"), 
            DataSet(name="2nd level",external_id="second_level")]
res = c.data_sets.create(data_sets)

In [16]:
c.data_sets.list()

DataSetList([<cognite.client.data_classes.data_sets.DataSet at 0x7f1d0c21ca60>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1d0c641070>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1d0c607fd0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc4bf25b0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc4bf2220>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc4bf2dc0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc4bf20a0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc4bf2100>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc4bf2880>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc4bf2640>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc4bf2790>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc4bf2ca0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc4bf2e20>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc4bf2df0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc4bf2a60>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc4bf2d30>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc4bf2d00>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc4bf2910>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc4bf29d0>])

In [17]:
res = c.data_sets.create([DataSet(name="my_example_dataset",external_id="my_example_dataset")])
res

DataSetList([<cognite.client.data_classes.data_sets.DataSet at 0x7f1cc4bf2190>])

In [18]:
test_ds_id = 1399248851345249

Labels

In [19]:
from cognite.client.data_classes import LabelDefinition
labels = [LabelDefinition(external_id="ROTATING_EQUIPMENT", name="Rotating equipment",data_set_id=test_ds_id),
LabelDefinition(external_id="PUMP", name="pump",data_set_id=test_ds_id)]
res = c.labels.create(labels)

In [20]:
c.labels.list()

LabelDefinitionList([<cognite.client.data_classes.labels.LabelDefinition at 0x7f1cc4d3a850>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x7f1d0c2e6d60>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x7f1cf6798670>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x7f1cc4be71f0>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x7f1cc4be7730>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x7f1cc4be77c0>])

Assets

In [21]:
from cognite.client.data_classes import Asset
assets = [Asset(name="asset1",external_id="asset1",data_set_id=test_ds_id), 
            Asset(name="asset2",external_id="asset2",data_set_id=test_ds_id)]
res = c.assets.create(assets)

In [22]:
c.assets.list(data_set_ids=[test_ds_id])

AssetList([<cognite.client.data_classes.assets.Asset at 0x7f1cc4bf2b20>,
           <cognite.client.data_classes.assets.Asset at 0x7f1cc4bf2460>])

Timeseries

In [23]:
from cognite.client.data_classes import TimeSeries
ts = c.time_series.create(TimeSeries(name="my_ts",external_id = "my_ts",data_set_id=test_ds_id ))

In [24]:
ts

Sequences

In [26]:
from cognite.client.data_classes import Sequence
column_def = [{"valueType":"STRING","externalId":"user","description":"some description"},
             {"valueType":"DOUBLE","externalId":"amount"}]
seq = c.sequences.create(Sequence(external_id="my_test_sequence",name="my test sequence", columns=column_def,data_set_id=test_ds_id ))

Files metadata

In [27]:
from cognite.client.data_classes import FileMetadata
file_metadata = FileMetadata(name="MyFile",external_id="my_file",data_set_id=test_ds_id)
res = c.files.create(file_metadata)

In [28]:
res

(<cognite.client.data_classes.files.FileMetadata at 0x7f1d0c5ee7f0>,
 'https://westeurope-1.cognitedata.com/api/v1/files/storage/cognite/6559848865888927/1500530369065916/MyFile?sig=tXSvJUSmosmV0WHQ1el4tHJH0ieabRwNHLbWSlwhNj4%3D&se=2022-07-14T13%3A21%3A07Z&sv=2019-02-02&sp=cw&sr=b')

Relationships

In [30]:
from cognite.client.data_classes import Relationship
flowrel1 = Relationship(external_id="flow_12_test", source_external_id="asset1", source_type="asset", target_external_id="asset2", target_type="asset", confidence=0.1, data_set_id=test_ds_id)
flowrel2 = Relationship(external_id="flow_21_test", source_external_id="asset2", source_type="asset", target_external_id="asset1", target_type="asset", confidence=0.1, data_set_id=test_ds_id)
res = c.relationships.create([flowrel1,flowrel2])

In [34]:
c.relationships.list()

RelationshipList([<cognite.client.data_classes.relationships.Relationship at 0x7f1cc47897c0>,
                  <cognite.client.data_classes.relationships.Relationship at 0x7f1d0c4823d0>,
                  <cognite.client.data_classes.relationships.Relationship at 0x7f1d0c482e50>,
                  <cognite.client.data_classes.relationships.Relationship at 0x7f1cc471ba60>,
                  <cognite.client.data_classes.relationships.Relationship at 0x7f1cc4721700>,
                  <cognite.client.data_classes.relationships.Relationship at 0x7f1cc4721c10>])

Create Asset with Labels

In [35]:
from cognite.client.data_classes import Label
asset = Asset(name="my_test_pump", labels=[Label(external_id="PUMP")],data_set_id=test_ds_id)
res = c.assets.create(asset)

In [36]:
res

Create Asset Hierarchy

In [38]:
assets_list = [Asset(external_id="root", name="Root",data_set_id=test_ds_id),
          Asset(external_id="child1", parent_external_id="root", name="child1",data_set_id=test_ds_id), 
          Asset(external_id="child2", parent_external_id="root", name="child2",data_set_id=test_ds_id),
          Asset(external_id="child_of_child1", parent_external_id="child1", name="child_of_child1",data_set_id=test_ds_id)]
res = c.assets.create_hierarchy(assets_list)

In [39]:
c.assets.retrieve_subtree(external_id="root")

AssetList([<cognite.client.data_classes.assets.Asset at 0x7f1cc471b730>,
           <cognite.client.data_classes.assets.Asset at 0x7f1cc0398610>,
           <cognite.client.data_classes.assets.Asset at 0x7f1cc0398b50>,
           <cognite.client.data_classes.assets.Asset at 0x7f1cc0398670>])

Upload files and folders

Single file

In [40]:
res = c.files.upload("myfiles", name="my_file_test1.txt")

In [42]:
c.files.list(limit=-1)

FileMetadataList([<cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b22e0>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2160>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b20a0>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2790>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2a30>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2430>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2730>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2970>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2880>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2760>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b26d0>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2250>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2460>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2040>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2190>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2280>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b21f0>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2220>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2490>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b24c0>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b24f0>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2310>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b23d0>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b23a0>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2370>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2070>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2130>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2100>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b20d0>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2580>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2520>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b21c0>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b22b0>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b25b0>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b25e0>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2550>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2340>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2610>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2b80>,
                  <cognite.client.data_classes.files.FileMetadata at 0x7f1cc03b2850>])

All files in a directory

In [43]:
res = c.files.upload("files_to_upload")

## Update various resource types
**Code Pattern**

`client.<cdf_resource_type>.update()`

Full Update

In [45]:
c.data_sets.list()

DataSetList([<cognite.client.data_classes.data_sets.DataSet at 0x7f1cc03fd130>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc03fdbe0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc4724a60>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc47245b0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc4724a00>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc03dae50>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc03b2be0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc03b26a0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc03b2c70>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc03b2ca0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc03b2cd0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc03b2d00>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc03b2d30>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc03b2d60>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc03b2d90>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc03b2dc0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc03b2df0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc03b2e20>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc03b2e50>,
             <cognite.client.data_classes.data_sets.DataSet at 0x7f1cc03b2e80>])

In [46]:
data_set = c.data_sets.retrieve(id=1399248851345249)
data_set

In [47]:
data_set.description = "This is a Example Dataset"
res = c.data_sets.update(data_set)

In [48]:
res

Partial Update

In [49]:
from cognite.client.data_classes import DataSetUpdate
my_update = DataSetUpdate(id=1399248851345249).description.set("New description with Partial Update")#.metadata.remove(["key"])
res = c.data_sets.update(my_update)

In [50]:
res

In [51]:
c.assets.list(root=True)

AssetList([<cognite.client.data_classes.assets.Asset at 0x7f1cc4721160>,
           <cognite.client.data_classes.assets.Asset at 0x7f1cc4721a90>,
           <cognite.client.data_classes.assets.Asset at 0x7f1cc4721760>,
           <cognite.client.data_classes.assets.Asset at 0x7f1cc4721be0>,
           <cognite.client.data_classes.assets.Asset at 0x7f1cc47218e0>,
           <cognite.client.data_classes.assets.Asset at 0x7f1cc4721a30>,
           <cognite.client.data_classes.assets.Asset at 0x7f1cc4721c70>,
           <cognite.client.data_classes.assets.Asset at 0x7f1cc4721940>,
           <cognite.client.data_classes.assets.Asset at 0x7f1cc4705070>])

In [52]:
from cognite.client.data_classes import AssetUpdate
my_update = AssetUpdate(external_id="asset1").description.set("New description using AssetUpdate")#.metadata.add({"key": "value"})
res1 = c.assets.update(my_update)

In [53]:
res1

Partial Update

In [ ]:
another_update = AssetUpdate(id=1).description.set(None)
res2 = c.assets.update(another_update)



---

In [ ]:
res = c.time_series.retrieve(id=1)
res.description = "New description"
res = c.time_series.update(res)

In [ ]:
res = c.sequences.retrieve(id=1)
res.description = "New description"
res = c.sequences.update(res)

In [ ]:
event = c.events.retrieve(id=1)
event.description = "New description"
res = c.events.update(event)

In [ ]:
file_metadata = c.files.retrieve(id=1)
file_metadata.description = "New description"
res = c.files.update(file_metadata)

In [ ]:
rel = c.relationships.retrieve(external_id="flow1")
rel.confidence = 0.75
res = c.relationships.update(rel)

## Insert the data in CDF

**Code Pattern**
`client.<cdf_resource_type>.insert()`

### Insert the Datapoints/Rows

In [56]:
c.time_series.list(external_id_prefix="my_")

TimeSeriesList([<cognite.client.data_classes.time_series.TimeSeries at 0x7f1cc03d9f70>])

In [57]:
from datetime import datetime
# with datetime objects
datapoints = [(datetime(2018,1,1), 1000), (datetime(2018,1,2), 2000)]
c.datapoints.insert(datapoints, id=5258405260776053)

In [58]:
# with ms since epoch
datapoints = [(150000000000, 1000), (160000000000, 2000)]
c.datapoints.insert(datapoints, id=5258405260776053)

In [60]:
c.datapoints.retrieve(external_id="my_ts",start=datetime(2018,1,1),end=datetime(2019,1,2))

In [61]:
c.sequences.list()

SequenceList([<cognite.client.data_classes.sequences.Sequence at 0x7f1cc4724160>,
              <cognite.client.data_classes.sequences.Sequence at 0x7f1cc4724520>,
              <cognite.client.data_classes.sequences.Sequence at 0x7f1cc4724070>])

In [63]:
c.sequences.retrieve(id=2357839693666680).columns

[{'externalId': 'user',
  'description': 'some description',
  'valueType': 'STRING',
  'metadata': {},
  'createdTime': 1657191142856,
  'lastUpdatedTime': 1657191142856},
 {'externalId': 'amount',
  'valueType': 'DOUBLE',
  'metadata': {},
  'createdTime': 1657191142856,
  'lastUpdatedTime': 1657191142856}]

In [76]:
data = [(1, ['user1',3.14]), (2, ['user2',2.72]) ]
c.sequences.data.insert(column_external_ids=["user","amount"], rows=data, id=2357839693666680)

In [68]:
c.sequences.data.retrieve_dataframe(id=2357839693666680,start=0,end=100)

    user  amount
1  user1    3.14
2  user2    2.72

### Insert the Dataframe

In [70]:
import pandas as pd
from datetime import timedelta
import numpy as np

In [71]:
ts_id = 5258405260776053
x = pd.DatetimeIndex([datetime(2018, 1, 1) + timedelta(days=d) for d in range(100)])
y = np.random.normal(0, 1, 100)
df = pd.DataFrame({ts_id: y}, index=x)
df

            5258405260776053
2018-01-01          1.201658
2018-01-02         -1.440902
2018-01-03          0.073946
2018-01-04          1.349312
2018-01-05          1.099516
...                      ...
2018-04-06          0.980378
2018-04-07          2.486425
2018-04-08          1.100117
2018-04-09         -0.019817
2018-04-10          0.554397

[100 rows x 1 columns]

In [72]:
c.datapoints.insert_dataframe(df)

In [ ]:
c.sequences.data.insert_dataframe(df*2, id=123)

### Insert the datapoints in multiple timeseries

In [73]:
datapoints = []
# with datetime objects and id
datapoints.append({"id": 1, "datapoints": [(datetime(2018,1,1), 1000), (datetime(2018,1,2), 2000)]})
# with ms since epoch and externalId
datapoints.append({"externalId": "my_ts", "datapoints": [(150000000000, 1000), (160000000000, 2000)]})
datapoints

[{'id': 1,
  'datapoints': [(datetime.datetime(2018, 1, 1, 0, 0), 1000),
   (datetime.datetime(2018, 1, 2, 0, 0), 2000)]},
 {'externalId': 'my_ts',
  'datapoints': [(150000000000, 1000), (160000000000, 2000)]}]

In [ ]:
c.datapoints.insert_multiple(datapoints)